{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Twitter_Django{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
  	<h1><a href="{% url 'apps:tweet_list' %}">Twitter_Django</a></h1>
  	{% if request.user.is_authenticated %}
  		<p><a href="{% url 'apps:profile' pk=request.user.pk %}">マイページ</a></p>
  		<p><a href="{% url 'apps:logout' %}">ログアウト</a></p>
  	{% else %}
  		<p><a href="{% url 'apps:login' %}">ログイン</a></p>
  	{% endif %}
  	<p><a href="{% url 'apps:tweet_new' %}">ツイートする</a></p>
    {% block content %}{% endblock %}
  </div>
</body>
</html>