<html>
    <head>
        <title>Twitter_Django</title>
    </head>
    <body>
        <h1>User Name：{{ user.username }}</h1>
        <p>苗字：{{ user.last_name }}</p>
        <p>名前：{{ user.first_name }}</p>
        <p>メール：{{ user.email }}</p>
        <p>{{ user.is_active }}</p>
        <p>スーパーユーザー：{{ user.is_superuser }}</p>
        <p>ラストログイン：{{ user.last_login }}</p>
        <p>登録日：{{ user.date_joined }}</p>
        <h2>{{ user.username }}のつぶやき</h2>
            {% for tweet in tweets %}
                <p>投稿日時：{{ tweet.created_date }}</p>
                <p>{{ tweet.text }}</p>
            {% endfor %}
    </body>
</html>