{% extends 'base.html' %}

{% block content %}
    <h1>User Name：{{ user.username }}</h1>
    {% if user != request.user %}
        <form action="{% url 'apps:follow' pk=user.id %}" method="POST">{% csrf_token %}
            {% if following %}
                <input type="submit" name="unfollow" value="フォローをやめる">
            {% else %}
                <input type="submit" name="follow" value="フォローする">
            {% endif %}
        </form>
    {% endif %}

    <p>苗字：{{ user.last_name }}</p>
    <p>名前：{{ user.first_name }}</p>
    <p>メール：{{ user.email }}</p>
    <p>{{ user.is_active }}</p>
    <p>スーパーユーザー：{{ user.is_superuser }}</p>
    <p>ラストログイン：{{ user.last_login }}</p>
    <p>登録日：{{ user.date_joined }}</p>
    <p>--------------------------------------------------</p>
    <h2>フォロー中のユーザー</h2>
        {% for follow in follows %}
            <p><a href="{% url 'apps:profile' pk=follow.target_user.pk %}">{{ follow.target_user }}</a></p>
        {% endfor %}

    <h2>フォロワー</h2>
        {% for follower in followers %}
            <p><a href="{% url 'apps:profile' pk=follower.from_user.pk %}">{{ follower.from_user }}</a></p>
        {% endfor %}

    <p>--------------------------------------------------</p>

    <h2>{{ user.username }}のつぶやき</h2>
        {% for followingtweet in followingtweets %}
            <p><a href="{% url 'apps:profile' pk=followingtweet.user.pk %}">{{ followingtweet.user }}</a></p>
            <p>投稿日時：{{ followingtweet.created_date }}</p>
            <p><a href="{% url 'apps:tweet_detail' pk=followingtweet.pk %}">{{ followingtweet.text }}</a></p>
        {% endfor %}
{% endblock %}