 {% extends 'base.html' %}

{% block content %}
	<p>{{ tweet }}</p>
	<p>{{ tweet.user }}</p>
	<p>{{ tweet.created_date }}</p>
	{% if tweet.user == request.user %}

	
        <form action="{% url 'apps:like' pk=tweet.pk %}" method="POST">{% csrf_token %}
            {% if liked %}
                <input type="submit" name="unlike" value="お気に入りからはずす">
            {% else %}
                <input type="submit" name="like" value="お気に入り">
            {% endif %}
        </form>

    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">削除する</button>
    </form>
    {% endif %}
{% endblock %}